<div>
    Item UID# {{cartItem.product_id}}<br>
    <a routerLink="/products/{{cartItem.product_id}}">{{cartItem.name}}</a><br>
    Price: ${{cartItem.price}}<br>
    <form>
        <label for="quantity">Qty: </label>
        <input [(ngModel)]="quantity" (change)="onChangeEvent($event)" name="quantity" type="number" id="quantity" min="1"  step="1" pattern="\d+" max="{{cartItem.boh}}" value="{{quantity}}"><br>
        Item Subtotal: ${{subTotal}}<br>
    </form>

    <form (ngSubmit)="removeProduct()">
        <button type="submit" value="Remove">Remove from cart</button><br><br>
    </form>
</div>
