<div class="product-item">
    <div (click)="viewDetails()">
        <div class="product-sub-item" *ngIf="product.image_ids">
            <img *ngIf="product.image_ids[0]" class="product-sub-item" width="200" src="{{ apiHost }}/imagefile/{{ product.image_ids[0] }}">
        </div>
        <p class="product-sub-item">{{ product.name }}</p>
        <br>
    </div>
    <div *ngIf="product.boh && product.price">
        <span><b>${{product.price}}</b></span><br>
        <form (ngSubmit)="addToCart()">
        <div class="product-sub-item">
            <span>Available Qty: {{product.boh}}</span><br>
            <label for="quantity">Qty: </label>
            <input [(ngModel)]="quantity" type="number" id="quantity" name="quantity" step="1" min="1" pattern="\d+" max="{{ product.boh }}">
        </div>
        <br>
        <button class="product-sub-item">Add to Cart</button>
        </form>
    </div>
</div>
