.navigator {
    background-color: #9E8F8C;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}

.nav-item {
    width: 33%;
}

.col-3 {
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}